.modal{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.wrapper{
	position: relative;
}

.close{
	position: absolute;
	top: 5px;
	right: 5px;
	width: 23px;
	height: 23px;
	cursor: pointer;
	/* background: #fff; */
	/* border:none; */
	fill:red;
}

