* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html[data-theme='light'] {
	--white: #fff;
	--black: #000;

	--primary:#0690fd;
	--primary-active: var(--primary);
	--active-item:#fff;
	--list-color: #000;
	--post-phon:#fff;
	--phon-color: #fff;
	--text-color:#000;
	--black-shadow:rgba(0, 0, 0, 0.68);
	--buttons-color: green;
	--white-violet:#fff;

	--scrollbar-track-color:#f1f1f1;
	--scrollbar-thumb-color:rgb(179,179,179);
}

html[data-theme='dark'] {
	--white: rgb(237, 239, 240);
	--black:  #8774E1;

	--primary:#7E6DD1;
	--primary-active: #fff;
	--list-color:  #8774E1;
	--active-item:#8774E1;
	--post-phon:#000;
	--phon-color: #212121;
	--text-color:rgb(237, 239, 240);
	--black-shadow:rgba(255, 255, 255, 0.68);
	--buttons-color: #212121;
	--white-violet:#8774E1;

	--scrollbar-track-color:transparent;
	--scrollbar-thumb-color:#4D4D4D;
}
// #8774E1  - активный чат
// #7E6DD1 – мое сообщение, кнопка
// #707070  #AAAAAA – плейсхолдер  ховер
// #212121 – чат, чужое сообщение, инпут
// #4D4D4D- скрол, сама полоса под цвет фона


::-webkit-scrollbar{
	width: 5px;
}
::-webkit-scrollbar-track{
	background: var(--scrollbar-track-color);
}
::-webkit-scrollbar-thumb{
	background: var(--scrollbar-thumb-color);
}

body{
	background-color: var(--phon-color);
}
