.user {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	align-items: center;
	width: 100%;
	background: var(--my-phon) no-repeat;
	background-size: 100%;
	padding: 10px;
	
	.info{
		position: relative;
		display: flex;
		gap: 15px;		
		
		img {
			position: relative;
			width: 150px;
			height: 180px;
			object-fit: cover;
			border-radius: 15px;
			cursor: pointer;
			border: 3px solid var(--white);
		}
	
		button{
			margin-left: 20px;
		}
	}	
}

@media (max-width:600px){
	.user{
		background-size:cover;

		.info{
			flex-direction: column;
			align-items: center;
			
			img{
				width: 100px;
				height: 100px;
			}
		}
	}
}