.user {
	position: relative;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	padding-right: 8%;
	
	
	img{
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		height: 30vh;
		object-fit: cover;
	}
}

.info{
	margin-top: 50px;
	
	img {
		position: relative;
		width: 150px;
		height: 180px;
		object-fit: cover;
		border-radius: 15px;
		cursor: pointer;
		border: 3px solid #fff;
	}

	button{
		margin-left: 20px;
	}
}	