.user {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.info{
	margin-top: 100px;
}

.user img{
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	height: 30vh;
	object-fit: cover;
}

.info img {
	position: relative;
	width: 180px;
	height: 180px;
	object-fit: cover;
	object-position: top;
	border-radius: 50%;
	cursor: pointer;
	border: 3px solid #fff;
}


.info h3 {
	margin-top: 20px;
	font-size: 25px;
	color: #000;
	text-align: center;
	margin-bottom: 10px;
}

