.statistic{
	display: flex;
	align-items: center;
	// color: var(--text-color);
	
	span{
		cursor:pointer;
		padding: 0 5px;
	}

	p{
		margin-right: 5px;
		color: var(--text-color);
	}
	
	span svg{
		width: 25px;
		height: 25px;
		padding: 4px;
		border-radius: 3px;
		fill: var(--text-color);
	}

	.active .like{
		background-color: rgb(76, 199, 76);
	}

	.active .dislike{
		background-color: rgb(229, 28, 28);
	}	
}