.statistic{
	display: flex;
	align-items: center;
	
	span{
		cursor:pointer;
		padding: 0 5px;
	}

	p{
		margin-right: 5px;
	}
	
	span svg{
		width: 25px;
		height: 25px;
		padding: 4px;
		border-radius: 5px;
	}

	.active .like{
		fill: var(--white);
		background-color: rgb(76, 199, 76);
	}

	.active .dislike{
		background-color: rgb(229, 28, 28);
		fill: var(--white);
	}	
}