.contextMenu {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: -28px;

	span{
		font-size: 12px;
		color: #757575;

		svg{
			width: 23px;
			height: 23px;
			cursor: pointer;
			padding: 1px;
			// fill: black;
			// border: 1px solid red;
			// border-radius: 50%;
		}
	}
}
