.form{
	position: relative;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 10px;
	padding: 30px;
	background: #fff;
	border-radius: 10px;
	
	fieldset {
		padding: 5px 10px;
		border: 1px solid #000;
		font-size:13px;
	line-height: 1;
	}

	input{
		border: none;
		outline: none;
		line-height: 1;
	}
}