.buttonFollowed{
	color: #fff;
	display: inline-block;
	width: 30px;
	border :none;
	outline : none;
	cursor : pointer;
	padding: 5px;
	background-color: transparent;

	
	svg{
		width: 25px;
		height: 25px;
	}
}

.isActive{
	// background:#df04d1;

	svg{
		fill:#06fd17;
	}
}