.buttonFollowed{
	border :none;
	outline : none;
	cursor : pointer;
	padding: 5px;
	background-color: transparent;
	
	
	svg{
		width: 25px;
		height: 25px;
		fill:var(--primary);
	}
}

.isActive{
	svg{
		fill:#06fd17;
	}
}