.posts {
	padding: 10px;
}

.posts input {
	width: 40%;
	padding: 6px;
	border: 1.5px solid #4d76a3;
	border-radius: 5px;
	margin-right: 10px;
}

.posts h3 {
	text-transform: uppercase;
	font-weight: 500;
}

.posts h3 span {
	color: #4d76a3;
	font-weight: 600;
}

.posts h2 {
	font-style: italic;
	color: #4d76a394;
	font-weight: 500;
}
