.messanger{
	position: relative;
	display: grid;
	grid-template-columns: 1fr 4fr;
	height: calc(100vh - 60px);
	
	padding-top: 10px;
}

.list{
	/* height: calc(100vh - 60px); */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 80%;
	overflow-y: auto;
	padding: 20px 0;
}

.panel{
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.panel input{
	width: 80%;
}
