.messanger{
	position: relative;
	display: grid;
	grid-template-columns: 1fr 4fr;
	max-height: calc(100vh - 60px);
	overflow-y: scroll;
}

.list{
	max-height: calc(100vh - 60px);
	overflow-y: scroll;
	padding: 20px 0;
}

.panel{
	display: flex;
	
}
