.message {
	position: relative;
	display: flex;
	gap: 10px;
	margin: 15px;
}

.message >div{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: space-between;
}

.message img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;	
}

.message p{
	padding: 15px;
	background-color: #343ad4;
	border-radius: 10px;
	max-width: 500px;
	color: #fff;
}

.message span{
	font-size: 12px;
	color: #757575;
}

.owner{
	justify-content: end;
}


.owner p{
	background-color: #0690FD;
	color:#fff;
}