.usersItem{
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	background: #82808010;
	border-radius: 10px;
	// padding: 10px;
	backdrop-filter: 5px;
	box-shadow: 0 0 3px 3px inset #79797a1d;
	
	h3{
		transition: 0.25s;
		font-size: 20px;
	}
	
	&:hover h3{
		color:#0690FD;
		transition: 0.25s;
	}
	&:hover .image{
		transform: scale(1.1);
		transition: 0.25s;
	}
	
	a{
		display: flex;
		align-items: center;
		flex-direction: column;
		color: #000;
		text-decoration: none;
	}
	
	.image {	
		transition: 0.35s;
		
		img{
			padding: 10px;
			border-radius: 25px;
			height: max(20vh, 150px);
			width: max(20vh, 150px);
			object-fit: cover;
		}
	}
	
	.btns{
		position: relative;
		width: 100%;
		display: flex;
		justify-content: space-around;
		padding: 5px;
		
		span{
			padding-top: 5px;
			font-style: italic;
			cursor: pointer;
			
			svg{
				width: 24px;
				height: 24px;
				fill:rgb(7, 155, 229);
			}
		}

	}
}