.message {
	position: relative;
	display: flex;
	gap: 10px;
	margin: 15px;
	padding-right: 25px;

	>div{
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	img{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		object-fit: cover;
	}

	p{
		position: relative;
		display: flex;
		padding: 15px;
		background-color: #343ad4;
		border-radius: 10px;
		max-width: 500px;
		color: var(--white);
	}

	span{
		font-size: 12px;
	}
}

.owner{
	justify-content: end;

   *:hover span{
		opacity: 1;
	}
	
	p{
		background-color:var(--primary);
		color:var(--white);

		span{
			opacity: 0;
			transition: .4s;
		}
	}
}