.usersPage{
	position: relative;
	display: flex;
	flex-direction:column;
	padding-top: 15px;
	gap: 20px;
	padding:10px;
	
	.usersList{
		display: flex;
		flex-wrap: wrap;
		gap:20px;
	}
}

@media (max-width:550px){
	.usersList{
		justify-content: center;
	}
}