.btn1 {
	/* width: 120px; */
	border-radius: 5px;
	color: #fff;
	background: #4d76a3;
	outline: none;
	border: none;
	padding: 8px;
	letter-spacing: 1px;
	margin: 0px 5px 0px 5px;
	/* text-transform: uppercase; */
}

.disabled {
	background: red;
}
