.auth {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	background: #F0F2F6;
	height: 100vh;
}

.auth h1{
	color: #0690fd;
}

.auth h1 span{
	color:#000;
	text-decoration: none;
}

.auth form {
	display: flex;
	flex-direction: column;
	width: 35vw;
	background: #f8f8f8;
	padding: 20px;
	border-radius: 15px;
}

.auth .box{
display: grid;
grid-template-columns: 1fr 2fr;
align-items: center;
}

.auth input {
	margin: 5px 0 10px 0;
	padding: 15px;
	border-radius: 5px;
	outline: none;
	width: 90%;
	height: 18px;
}

.auth form button {
	width: 60%;
}

.auth span{
	margin-left: 10px;
	color: #0690fd;
	text-decoration: underline;
	cursor: pointer;
	font-size: 20px;
	letter-spacing: 1px;
}

.check{
	display: grid;
	grid-template-columns: 130px 20px;
	align-items: center;
}
