.auth {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--phon-color);
	height: 100vh;
	padding: 30px 100px;
	
	.themeCheckbox{
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 20px;
		right: 20px;
		width: 50px;
		height: 50px;
		background-color: var(--primary);
		border-radius: 50%;
	}
	
	.leftBox {
		
		h1{
			color: var(--text-color);
			margin-bottom: 20px;
		}
		
		p{
			color:var(--text-color);
			font-size: 20px;
			text-decoration: none;
		}
	}

	.rightBox{
		display: flex;
		flex-direction: column;
		background: var(--post-phon);
		border-radius: 15px;
		padding: 20px;

		p{
			margin: 0 10px 10px 0px;
			font-size: 20px;
			color: rgb(86, 83, 83);
		}	
		
		span{
			color: var(--text-color);
			font-style: italic;
			cursor: pointer;
			font-size: 20px;
			letter-spacing: 1px;
			transition: .5s;
			padding-left: 5px;
		}

		form {
			display: flex;
			flex-direction: column;
			width: 35vw;			
						
			label{
				display: flex;
				align-items: center;
				justify-content: flex-start;	
				gap: 10px;
				
				span{
					flex: 0 0 80px;
					color: inherit;
					font-style: normal;
					font-size: 16px;
					color: var(--text-color);
				}
			}
		}	
	}

	form button {
		width: 50%;
		align-self: center;
		margin-top: 10px;
		
	}	 
}

@media (max-width:600px){
	.auth{
		flex-direction:column;
		padding: 30px 40px;

		.rightBox{
			form {
				width: 80vw;
			}		
		}
	}
}