.btn {
	border-radius: 5px;
	color: var(--white);
	background: var(--primary);
	outline: none;
	border: transparent;
	padding: 8px;
	letter-spacing: 1px;
	margin: 0px 5px 0px 5px;
	cursor: pointer;
	font-size: 16px;
}