.post{
	position: relative;
	margin-bottom: 20px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);	
}

.head{
	position: relative;
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	width: 100%;
	padding: 10px;
}

.post a{
	position: relative;
	display: flex;
	align-items: center;
	text-decoration: none;
}

.head .time{
	margin-left: 10px;
	font-size: 14px;
	font-style: italic;
	color: rgb(143, 141, 141);
	flex: 1 1 auto;
}


.body{
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 10px;
}


.body p{
	padding: 10px;
}

.body div{
	position: relative;
padding-top: 50%;
}
.body img{
	position: absolute;
	width: 90%;
	height: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	object-fit: cover;
}

.statistics{
	position: relative;
	display: grid;
	grid-template-columns: 4fr 1fr;
}

.statistics div{
	display: flex;
	align-items: center;
	justify-content: start;
	padding: 15px 10px;
}

.statistics span{
	cursor:pointer;
	/* margin: 0 10px; */
	padding: 0 5px;
}

.statistics .active>svg{
	fill: red;
}

.statistics span svg{
	width: 15px;
	height: 15px;
}