.wrapper{
	position: relative;
	max-width: 800px;
	height: 30vh;
	display: flex;
	flex-direction: column;
	gap:20px;
	color: var(--text-color);
	
	textarea{
		padding: 10px;
		resize: none;
		outline: none;
		height: 50%;
		background-color: var(--post-phon);
		color: var(--text-color);
	}
	
	input{
		opacity: 0;
	}
	
	label span{
		cursor: pointer;
	}
}